<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="createUserWithUsername" type="Axl\UIDLogin\Plugin\CreatePost" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="loginWithUsername" type="Axl\UIDLogin\Plugin\LoginPost" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="axl_uidlogin_checkout_config_provider" xsi:type="object">Axl\UIDLogin\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type> 
</config>
